* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  display: none;
} */
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Nav --------------------*/
  
  nav {
    height: 70px;
    display: flex;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  }
  
  .gray {
    color: #918E9B;
  }
  
  .nav--logo {
    width: 82px;
    margin: 22px 30px;
  }
  
  /* Hero --------------------*/
  
  .Hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .hero-photo-grid {
    max-width: 800px;
    align-self: center;
  }
  
  .hero--header {
    margin-bottom: 16px;
    font-size: 36px;
  }
  
  .hero--text {
    margin: 0;
    font-size: 16px;
  }
  
  /* Card --------------------*/
  
  .card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 176px;
    margin: 20px;
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    position: relative;
  }
  
  .card--stats {
    align-items: center;
  }
  
  .card--star {
    height: 14px;
  }
  
  .card--image {
    border-radius: 9px;
    width: 100%;
    margin-bottom: 9px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
}

.card--price {
  margin-top: auto;
}